<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cursos - Academia Pro</title>

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/cursos.css">
</head>

<body>

    <header class="navbar">
        <div class="logo">Academia Pro</div>

        <nav>
            <a href="index.html">Inicio</a>
            <a href="cursos.html" class="active">Cursos</a>
            <a href="profesores.html">Profesores</a>
            <a href="contacto.html">Contacto</a>
        </nav>
    </header>

    <section id="cursos">

        <div id="encabezado-cursos">
            <h1>Catálogo de Cursos</h1>

            <p>
                Explore nuestra oferta académica y encuentre el idioma ideal para desarrollar nuevas oportunidades personales y profesionales.
            </p>
        </div>

        <div id="busqueda-cursos">
            <input type="text" id="buscarCurso" placeholder="Buscar curso por nombre o descripción...">
        </div>

        <div id="filtros-categoria">
            <button data-categoria="Todos">Todos</button>
            <button data-categoria="Idiomas Populares">Idiomas Populares</button>
            <button data-categoria="Idiomas Internacionales">Idiomas Internacionales</button>
        </div>

        <div id="contenedorCursos"></div>

    </section>

    <footer>
        <p>Academia Pro © 2026</p>
        <p>Facebook | Instagram | TikTok</p>
        <p>Creado por Grupo 3</p>
    </footer>

    <script src="js/cursos.js"></script>

</body>

</html>